@use "base/variables" as v;
@use "base/mixins" as m;

.proceso-cafe {
  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-child(even) {
    .texto {
      order: -1;
    }
  }
  margin-bottom: v.$separacion;
  @include m.tablet {
    display: flex;
    gap: v.$separacion;
    align-items: center;
  }
  .imagen,
  .texto {
    flex: 1;
  }

  .texto {
    p {
      line-height: 2;
    }
    margin-top: 1rem;
    text-align: left;
    h3 {
      margin: 0;
      text-align: left;
      color: v.$primario;

      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 5px;
        background-color: v.$secundario;
        @include m.tablet {
          width: 29%;
        }
      }
    }
  }
}
